<p id="notice"><%= notice %></p>

<h3>
  <strong>#</strong><%= @chatroom.name %>
</h3>

<div data-behavior='message' data-chatroom-id='<%= @chatroom.id %>' style="border-top: thin solid lightgrey; padding-top: 8px; padding-bottom: 8px;">
  <% @message.each do |message| %>
      <%= render message %>
  <% end %>
</div>

<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6">
    <%= form_for [@chatroom, Message.new], remote: true do |f| %>
        <%= f.text_area :body, rows: 1, class: "form-control", autofocus: true, placeholder: "Message ##{@chatroom.name}" %>
    <% end %>
  </div>
</div>


